<OBJECT classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93" width="200" height="200" codebase="http://java.sun.com/products/plugin/autodl/jinstall-1_5_0-windows-i586.cab#Version=1,5,0,0">
  <PARAM name="code" value="AppletMain.class">
  <PARAM name="codebase" value="Landon.jar">
  <comment>
    <embed code='AppletMain.class' archive='Landon.jar' type='application/x-java-applet' />
    <noembed>
      <applet code='AppletMain.class' archive='Landon.jar' type='application/x-java-applet'>
        :(
      </applet>
    </noembed>
  </comment>
</OBJECT>
